/*
# Custom Beeper.app style
This file will be injected as a <style> tag
After making your changes, type "Reload custom CSS" in the command bar
To open dev tools, open the command bar and type "open console"
*/

:root {
  /*
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
  */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-secondary-container: #3b3b3d;
    --color-tertiary-container: #1a1a1a;
    --color-background-app: rgb(30 30 30);
  }
}

.right-pane-header.right-pane-header-thread {
  box-shadow: 0 0 0 var(--color-backing-shade);
  position: relative;
  border-top-left-radius: 0;
}

.right-wrapper {
  --frame-gap: 0px;
}

.subheader-content,
.conversation {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.BrandNetworkIcon-module__brandNetworkIcon {
  border-radius: 99%;
}

.tab-bar-btn button {
  display: none;
}

.BrandHiddenControls-module__toggle {
  border: 0.5px solid transparent;
  background:
    linear-gradient(#1e1e1e, #1e1e1e) padding-box,
    linear-gradient(
      357deg,
      #5f5f5f 0%,
      #1e1e1e 50%,
      #737373 100%
    ) border-box;
}

.ComposeMessage-module__input {
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 0.5px solid transparent;
  background:
    linear-gradient(#1e1e1e, #1e1e1e) padding-box,
    linear-gradient(
      357deg,
      #5f5f5f 0%,
      #1e1e1e 50%,
      #737373 100%
    ) border-box;
}

.ComposeMessage-module__rightButtons {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .threads.redacted-region {
    margin: 8px;
 	border-radius: 14px;
 	border: 1px solid transparent;
 	background: radial-gradient(
    circle at center,
    #171717 0%,
    rgb(18 17 17 / 80%) 60%,
    #00000063
  ) padding-box;  
    box-shadow:
      0 4px 10px rgb(0 0 0 / 40%),
      0 6px 0 20px rgb(30 30 30),
      inset 0 0 50px rgb(130 157 197 / 4%);
  }
}

.toggle-thread-info .toggle-thread-info-button {
    padding: 5px;
    border-radius: 21px;
    border: 0.5px solid transparent;
    background: linear-gradient(#1e1e1e, #1e1e1e) padding-box, linear-gradient(-45deg, #5f5f5f 0%, #1e1e1e 50%, #737373 100%) border-box;
}
